<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>spruett.net</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icon.png">
</head>

<body>
    <section class="container mx-auto max-w-2xl">
        <header class="h-8 mt-1">
            <span class="float-left">
                <a class="" href="/">spruett.net</a>
            </span>
            <span class="float-right">
                <a href="/about">about</a>
                <a href="/projects">projects</a>
            </span>
        </header>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="mt-4 pt-2 border-t-4 border-sky-300 border-dotted flex">
            <span class="pr-4">
                <a href="https://gitlab.com/spruett" class="pb-1">
                    <i data-feather="gitlab" class="inline"></i>
                </a>
            </span>
            <span class="pr-4">
                <a href="https://git.spruett.net/scott" class="pb-1">
                    <i data-feather="git-branch" class="inline"></i>
                </a>
            </span>
            <span class="pr-4">
                <a href="mailto:contact@spruett.net" class="pb-1">
                    <i data-feather="mail" class="inline"></i>
                </a>
            </span>
            <span class="ml-auto mt-1">
                built with
                <a href="https://www.getzola.org/">zola</a>,
                <a href="https://tailwindcss.com/">tailwind</a>, and
                <a href="https://pages.cloudflare.com/">cloudflare pages</a>
            </span>
        </footer>
    </section>

    <script src="/feather.js"></script>
    <script>feather.replace();</script>
</body>

</html>