@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-mono;
    @apply bg-slate-800;
    @apply text-slate-100;
    @apply leading-6;
    @apply pl-2;
    @apply pr-2;
}

a {
    @apply border-b-sky-300;
    @apply border-b-2;
}
p {
    @apply mb-2;
}

h1::before {
    /* content: "# "; */
}
h1 {
    @apply text-xl;
    @apply mb-2;
    @apply mt-8;
    @apply border-b-2;
    @apply inline-block;
}

ul {
    @apply ml-4;
    @apply list-disc;
}